.adminPage {
    width: 500px;
    height: 400px;
    position: relative;
    margin-top: 300px;
    margin-bottom: 200px;
	display: flex;
	flex-direction: column;
    font-family: "GmarketSansMedium", Helvetica;
    margin-left: 470px;
    text-align: center;
    font-size: 30px;
}
.title {
	margin-bottom: 30px;
}
.admin-only {
	margin-bottom: 70px;
}