@charset "UTF-8";
@font-face {
  font-family: 'HS봄바람체 2.1-Regular';
  src: url('../fonts/HSBombaram2.1.ttf') format('truetype');
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('../fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('../fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('../fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: light;
}

.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2600px;
  position: relative;
}
